<!DOCTYPE html> {% load static %}
<html lang="ja" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'polls/css/login.css' %}" /> -->
</head>

<body class="text-center">
    <h1 class="h3 mt-2 mb-3 font-weight-normal">ログイン</h1>

    <form class="w-25 mx-auto" action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <label for="login_id" class="sr-only"></label>
        <input type="text" class="form-control" id="login_id" name="login_id" 
                placeholder="ユーザID" required autofocus/>
        <label for="password" class="sr-only"></label>
        <input type="password" class="form-control" id="password" name="password" 
                placeholder="パスワード" required/>

        <input class="btn btn-outline-primary my-1" type="submit" value="Login">
    </form>

    <h6 class="mt-2 mb-3 text-muted">アカウントをお持ちですか？：
        <a href="{% url 'register' %}">アカウントを作成</a>
    </h6>

    <p class="mt-2 mb-3 text-muted">&copy; 2024</p>
</body>

</html>